# IDE
.idea/
.vscode/
*.iml

# Server files exceptions
server-files/*
!server-files/addons/
server-files/addons/*
!server-files/addons/amxmodx/
!server-files/addons/metamod/

# Logs and temp files
*.log
*.bak
logs/
backup/
*.tmp
*.swp

# System
.DS_Store
Thumbs.db